@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  padding: 0;
  margin: 0;
  background: url(./assets/beach.jpg) no-repeat center center/cover;
  top: -100px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.logo-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
  max-width: 90%;
}

.logo-flex img {
  max-width: 200px;
}

.power-bi-cont {
  margin-top: 20px;
}

.power-bi-cont h1 {
  font-size: 30px;
}

.sub-topic {
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}

.topic-container {
  margin: 30px auto;
  max-width: 50%;
  display: block;
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
}

.topic-container p {
  font-size: 17px;
  font-weight: bold;
  border-bottom: 0.5px solid black;
  padding-bottom: 20px;
}
